
// Identifiers

#copyright {
    display:block;
    text-align:center;
}

#create-list button[type="submit"] {
    margin:2em auto 2em auto;
    display:block;
}

#gameContent {
    height:33vh;
}

#playWrapper {
    display:block;
}

#search-link {
    display:inline;
}