
// Body
$body-bg: rgb(242, 242, 242);

// Colors
$color-primary: rgb(255, 0, 168); // Pink (#ff00a8)
$color-secondary: rgb(0, 130, 116); // Green (#008274)
$color-accent: rgb(255, 165, 0); // Orange
$color-muted: rgba(255,255,255,0.66);